.titulo{
    color: #fff;
}

.sub{
    float: left;
    color: black;
    text-align: center;
    width: 600px;
    padding-top: 20px;
    font-size: 18px;
    padding-left: 50px;
    padding-top: 10px;
}
.fondoslider{
    background-image: url("../img/ubicacion.jpg");
    background-size: 100%;
    text-align: center;
    height: 350px;
    width: 100%;   
    background-position: center;

}
.subtitulo1{
    background-color: #FFD700;
    color: #fff;
    border-radius: 200px;
    font-style:inherit;
    text-align: center;
    font-family: 'Permanet Marker', cursive;
}
.video{
    padding-right: 10%;
    text-align: right;
}

.p{
    display: inline;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    width: 15%;
    float: left;
    margin-left: 8%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: medium;
}