*{
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'open sans';
}

#contenedor-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 90px  43px;
    width: 100%;
}

#header{
    width: 100%;
    background-color: black;

}

#logo{
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 50%;
    margin-top: 15px;
}

#logo img{
    width: 50px;
    height: 50px;
}

#icons{
    float: right;
    width: 50px;
    height: 50px;
    margin-right: 50px;
    margin-top: 15px;

}

#icons img{
    width: 50px;
    height: 50px;
}


#menu{
    width: 100%;
    background-color: 	#FFD700;
    
}

#menu > ul{
    width: 100%;
    text-align: center;
    overflow: hidden;

}


#menu > ul > li{
    display: inline;
    line-height: 40px;
    transition: all 300ms;

    
}
#menu > ul > li > a{
    color: black;
    padding: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    font-weight: bolder;
}

#menu > ul > li > a:hover{
    background-color: #efb810;

}

.imagenes-index{
    text-align: center;
    padding-top: 80px;
}

.contenedor-main{
    width: 100%;
    padding-bottom: 100px;
}

.parrafo1{
    width: 400px;
    float: right;
    padding-bottom: 50px;
    padding: 40px 260px 0px 0px;
    
}

.parrafo2{
    width: 400px;
    float: left;
    padding-left: 170px ;
    padding-top: 40px;
    padding-bottom: 50px;
}

h2{
    color: #FFD700;
}


.imagen-diamante{
    text-align: center;
    padding-right: 500px;
}

footer{
    width: 100%;
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}