p{
    text-align: justify;
}

#p1{
    text-align: center;
    margin: 6%;
}

.p2{
    color: black;
    text-align: justify;
    font-size: 20px;
    margin-left: 20%;
}

h1{
    color: black;
    text-align: center;
    margin-bottom: 20%;
}


h2{
    color: black;
    margin-left: 20%;
}

.a2{
    margin-left: 20%;
}

article{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin-left: 20%;
}

label{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: right;
    margin: 20%;
}

input{
    background-color: lightgrey;
    margin-left: 20%;
    margin-bottom: 2%;
    width: 300px;
    height: 25px;
}

.input2{
    background-color: #a7afad;
    margin-left: 49.5%;
    margin-bottom: 20%;
    margin-top: 2%;
    width: 400px;
    height: 40px;
}

.input3{
    background-color: lightgrey;
    margin-left: 20%;
    margin-bottom: 2%;
    width: 600px;
    height: 240px;
}

select{
    background-color: lightgrey;
    margin-left: 20%;
    margin-bottom: 2%;
    width: 300px;
    height: 25px;
}

.contenedor{
    width: 1500px;

}

.der{
    color: #FFD700;
    width: 10px;
    float: right;
    margin-right: 50%;
    margin-top: 40px;

}

.izq{
    float: left;
    padding-left: 31px;
    margin-top: 30px;
}

